.ui.basic.segment.navbar {
  background-color: #7649ED;
}

.ui.basic.segment.masthead {
  min-height: 400px;
  background: #7649ED; /* fallback for old browsers */
}

h1.ui.header.landing-header {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h3.ui.header.landing-sub-header {
  font-weight: normal;
  margin-bottom: 1.5em;
}

.text-center {
  text-align: center;
}
